

    
    .product {
     box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    }
    
    .product img {
    width: 150px;
    height: 150px;

    }
    
    /* .product-info {
     
     flex-grow: 1;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: row;
    } */
    
    .product-info h2 {
     margin-bottom: 10px;
     color: #333;
    }
    
    .product-info p {
 margin-bottom: 10px;
 color: #777;
    }
    
    .product-info span {
 
 color: #333;
     font-weight: bold;
    }
    

 
    